h1{
    background-color: aquamarine;
}

.btn{
    width: 85px;
    height: 70px;
    border-radius: 50px;
    color: white;
    margin: 10px;
    cursor: pointer;
    border: 1px solid black;
}

.bg-1{
    background-color: yellowgreen;
}

.bg-2{
    background-color: blue;
}

.bg-3{
    background-color: red;
}